<!DOCTYPE html>
<!-- Doc will run module "store" when it loads-->
<html ng-app="store">
<head>
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!--Twitter Bootstrap CDN CSS and JS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <script src=https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js></script>
 
  <!--AngularJS Google CDN-->
  <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js></script>
 
  <!--JS App-->
  <script type="text/javascript" src="app.js"></script>

  <title></title>
</head>
<!-- store is an alias for the StoreController-->
<body ng-controller="StoreController as store">
  <header style="text-align: center;">
  <h1>Flatlander Crafted Gems</h1>
  <h2> &mdash; an Angular store &mdash;</h2>  
  </header>
  
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products" ng-controller="GalleryController as gallery">
      
      <!--Product Description Directive -->
     <h3><product-title></product-title></h3>

      
      <img ng-src="{{product.images[gallery.current].full}}"/>
      <ul class="m-4 clearfix" style="list-style: none;">
        <li class="float-left" ng-repeat="image in product.images">
          <img ng-src="{{image.full}}">
        </li>
      </ul>

      <!--Tabs and directives-->
      <product-panel></product-panel>
    


      <button class="mt-4" ng-show="{{product.canPurchase}}">Add to Cart</button>
    </li>
  </ul>
</body>
</html>

